body{
  font-family: "New Rocker", system-ui;
  font-size: 19px;
  font-style: normal;
  width: 100%;
}

/*header*/
header{
  color:hotpink;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2e4e6f;
}
header img{
  height: 3em;
  margin-top: 5px;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav a{
  color:hotpink;
  transition: 0.3s;
}
nav a:hover {
  color: mediumvioletred;
  text-decoration: underline;
}

a{
  text-decoration: none;
}

#search{
  text-align: center;
  background-color: #2e4e6f;
  border: 0;
  appearance: none;
  border-bottom: 2px solid hotpink;
}

#search::placeholder{
  color:palevioletred;
}

/*breadcrumbs*/

.breadcrumb{
  background-color: #a6c1dc;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 2em;
}
ul.breadcrumb li{
  display: inline;
}
ul.breadcrumb li a {
  color:mediumvioletred;
  text-decoration: none;
}
ul.breadcrumb li .last{
  color:black;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.filter{
  display: flex;
  flex-direction: column;
}

/* main */
.content{
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.row{
  display: flex;
}

/*price */
.price input{
  height: 1px;
  background-color: #353f48;
  margin: 0;
  appearance: none;
}

.price input::-webkit-slider-thumb {
  appearance: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: mediumvioletred;
}

.big{
  margin-left: 98px;
}
.small{
  margin-left: 5px;
}

/*list*/
.list {
  position: relative;
  display: flex;
  gap: 2em;
}

.checkbox-1 label {
  display: flex;
  align-items: center;
  background-color: #353f48;
  align-items: center;
  justify-content: center;
  height: 2em;
  border-radius: 20px;
  padding-bottom: 5px;
  padding: 0px 10px; 
  cursor: pointer;
  color: rgb(246, 200, 223);
  gap: 5px;
}

.checkbox-1 input {
  display: none;
}

.checkbox-1 label::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  transition: all 0.3s ease;
  margin-top: 4px;
}

.checkbox-1:has(input:checked) label::after {
  content: "\2713";
  font-size: 14px;
  color: rgb(246, 200, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

/* sidebar */
.sidebar{ 
  margin-right: 2em;
}

/* items */
.items{
  margin: 40px 150px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2em;
}

.product{
  text-align: center;
  background-color: lightpink;
  border-radius: 10px;
  max-width: 300px;
}

.product a.h-card ,a.button{ /*button buy*/
  margin: 20px 50px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
  color: black;
  background-color: palevioletred;
  text-decoration: none;
  cursor: pointer;
}

.product .h-card.notactiv ,a.button {
  background-color: rgb(190, 145, 160);
  cursor: default;
}

.product img{
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  border: palevioletred solid 1px;
}


/* pagination */
.pagination{
  text-align: center;
}
.pagination a{
  color: mediumvioletred;
  margin: 3px;
}
/* footer */
footer {
  background-color: #2e4e6f;
  color: hotpink;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.copyright {
  margin-left: 50px;
}

.terms {
  margin-right: 50px;
}

body, header, footer {
  margin: 0;
  padding: 0;
}


/* Produckt card */
/* items */
.h-card {
  margin: 30px 110px;
  display: grid;
  grid-template-columns: auto;
  background-color: lightpink;
  border-radius: 10px;
}

.container2{
  display: flex;
  border-radius: 10px;
  margin: 20px;
  gap: 20px;
}

col{
  display: flex;
  flex-direction: column;
}

.h-card img{
  width: 450px;
  height: 450px;
  margin: 15px;
  border-radius: 15px;
  border: palevioletred solid 1px;
}

.cardname{
  font-weight: bold;
}

a.button{
  margin: 0;
  padding: 10px 30px;
}

.description li{/* decription */
  display: flex;
  justify-content: space-between;
}

.dots{
  flex-grow: 1;
  border-bottom: 1px dotted black;
  margin: 10px;
}

.h-comment{ /* comment */
  background-color:palevioletred;
  display: flex;
  align-content: center;
  border-radius: 10px;
}
.container{
  margin: 15px;
}

img.u-photo{
  width: 55px;
  height: 55px;
}

@media only screen and (max-width: 1024px) {
  .items{
    grid-template-columns: auto auto auto;
    margin: 40px 10px;
  }  
  .h-card {
    grid-template-columns: auto;
    margin: 40px 40px;
  }
}

@media only screen and (max-width: 900px) {
  .items{
    grid-template-columns: auto auto;
    margin: 40px 10px;
  }
  .h-card {
    grid-template-columns: auto;
    margin: 40px 30px;
  }
}

@media only screen and (max-width: 768px) {
  .items{
    grid-template-columns: auto auto;
    margin: 40px 10px;
  }  
  .h-card {
    grid-template-columns: auto;
    margin: 30px 10px;
  }

  .container2{
    flex-direction: column ;
    }
}


@media only screen and (max-width: 680px) {
  .items{
    grid-template-columns: auto;
    margin: 40px 10px;
  }  

  #search {
    display: none;
  }

  #phone {
    display: none;
  }

  .h-card {
    grid-template-columns: auto;
    margin: 20px 10px;
  }
  
  .container2{
  flex-direction: column;
  margin: 20px 10px;
  }

}